{{ form.non_field_errors }}
    <div class="field">
        <label for="{{ form.name.id_for_label }}">Object Name:</label>
        {{ form.name.errors }}
        {{ form.name }} 
    </div>
    <div class="ui grid preview-fields">
        {{ form.summary }} 
        {{ form.statement }} 
        {{ form.examples }} 
        {{ form.notes }} 
    </div>
    <div class="field">
        <label for="{{ form.properties.id_for_label }}">Used in:</label>
        {{ form.used_in.errors }}
        {{ form.used_in }} 
    </div>