{{ form.non_field_errors }}
    <div class="field">
        <label for="{{ form.name.id_for_label }}">Object Name:</label>
        {{ form.name.errors }}
        {{ form.name }} 
    </div>
    <div class="ui grid preview-fields">
        {{ form.summary }} 
        {{ form.definition }} 
        {{ form.examples }} 
        {{ form.notes }} 
    </div>
    <div class="field">
        <label for="{{ form.parent_objects.id_for_label }}">Parent Object:</label>
        {{ form.parent_objects.errors }}
        {{ form.parent_objects }} 
    </div>
    <div class="field">
        <label for="{{ form.contains.id_for_label }}">Contains Object:</label>
        {{ form.contains.errors }}
        {{ form.contains }} 
    </div>
    <div class="field">
        <label for="{{ form.properties.id_for_label }}">Object Properties:</label>
        {{ form.properties.errors }}
        {{ form.properties }} 
    </div>