{{ form.non_field_errors }}
    <div class="field">
        <label for="{{ form.name.id_for_label }}">Theorem Name:</label>
        {{ form.name.errors }}
        {{ form.name }} 
    </div>
    <div class="field">
        <label for="{{ form.theorem_type.id_for_label }}">Theorem Type:</label>
        {{ form.theorem_type.errors }}
        {{ form.theorem_type }} 
    </div>
    <div class="ui grid preview-fields">
        {{ form.summary }} 
        {{ form.hypothesis }} 
        {{ form.conclusion }} 
        {{ form.proof }} 
        <small>Separate steps with [STEP]</small>
        {{ form.examples }}
        {{ form.notes }} 
    </div>
    <div class="field">
        <label for="{{ form.included_objects.id_for_label }}">Included Objects:</label>
        {{ form.included_objects.errors }}
        {{ form.included_objects }} 
    </div>

