{% extends "full_width_base.html" %}
{% block content %}
<h1>Create New Theorem</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="ui container grid">
    <div class="eight wide column">
        <form class="ui form" action="{% url 'create_theorem' %}" method="post">
        {% csrf_token %}
        {% include './shared/theorem_form.html' %}
        <input type="submit" value="Submit">
        </form>
    </div>
</div>
<script>$('.ui.dropdown').dropdown();</script>
{% endblock %}