{% extends "full_width_base.html" %}
{% block content %}
<h1>Create new mathematical object</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="ui container grid">
    <div class="sixteen wide column">
        <form class="ui form" action="{% url 'create_object' %}" method="post">
        {% csrf_token %}
        {% include './shared/object_form.html' %}
        <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>$('.ui.dropdown').dropdown();</script>
    {% load static %}
    <script src="{% static './mathwiki/js/latexpreview.js' %}"></script>
{% endblock%}

{% block styles %}
<style>
    .latex-preview {
        margin-top: 1.28571429rem;
    }
</style>
{% endblock %}