{% extends "base.html" %}

{% block content %}
<h1>{{ object.name}} </h1>

<h2>Definition</h2>
{% autoescape off %}
{{ object.definition}}
{% endautoescape %}

<h2>Properties</h2>
<div class="ui relaxed list">
    {% for obj in object.properties.all %}
        <div class="item">
          <div class="content">
            <a href="{% url 'object_details' obj.id %}" class="header">{{obj.name}}</a>
            <div class="description">{{obj.summary}}</div>
          </div>
        </div>
    {% endfor %}
</div>
<h2>Contains</h2>
<div class="ui relaxed list">
    {% for obj in object.contains.all %}
        <div class="item">
          <div class="content">
            <a href="{% url 'object_details' obj.id %}" class="header">{{obj.name}}</a>
            <div class="description">{{obj.summary}}</div>
          </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block sidebar %}

<h4>Properties</h4>
<div class="ui relaxed list">
    {% for obj in object.properties.all %}
        <div class="item">
          <div class="content">
            <a href="/objects/{{obj.id}}" class="header">{{obj.name}}</a>
          </div>
        </div>
    {% endfor %}
</div>
<h4>Contains</h4>
<div class="ui relaxed list">
    {% for obj in object.contains.all %}
        <div class="item">
          <div class="content">
            <a href="/objects/{{obj.id}}" class="header">{{obj.name}}</a>
          </div>
        </div>
    {% endfor %}
</div>
{% endblock %}