    <div class="ui secondary menu" style="background-color:#b9e9ee;padding: 1rem 0 1rem;">
    <div class="ui container">
      <div class="header">
        <h1>Kali's Math Docs</h1>
      </div>
      <a class="item" href="/">Home</a>
      <div class="ui dropdown item" tabindex="0">
        Add New
        <i class="dropdown icon"></i>
        <div class="menu transition hidden" tabindex="-1">
          <div class="item"><a href="{% url 'create_object' %}">Object</a></div>
          <div class="item">Property</div>
          <div class="item"><a href="{% url 'create_theorem' %}">Theorem</a></div>
          <div class="item">Axiom</div>
        </div>
      </div>
    </div>
  </div>

  <script>
      $('.ui.dropdown').dropdown();
  </script>